/* Colors:
	Pink: #ffced7;
	Blue: #abffff;
	White: #ffffff;
	Yellow: #fffadd;
	Brown: #946e49;
*/

/* Reset Rule */
* {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Raleway", sans-serif;
	background-color: #abffff;
	background-image: url("img/subtle-stripes.png");
}

header {
	font-family: "Sacramento", cursive;
	color: #ffffff;
	background-color: #ffced7;
	text-align: center;
	font-size: 2.5rem;
	padding: 3%;
}